* {
    margin: 0; 
    padding: 0; 
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: linear-gradient(140deg, #c54ecf 0.00%, #FFFF16);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0.5%;
    background: linear-gradient(140deg, #F5B551 0.00%, #FFFF16);
    z-index: 10;
}

.header__logo {
    width: 20%;
    outline: 2px solid lightblue;
}

.logo {
    border-radius: 15px;
}

.nav {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    outline: 2px solid lightblue;
}

.nav__item a {
    color: black;
}

.nav__item a:hover {
    color: #51a59d;
    text-decoration: underline;
} 

.banner {
    display: flex;
    background-color: white;
}

.banner__img {
    margin: 5% 5% 1% 5%;
}

.banner__title {
    margin: 15% 5%;
    font-family: "Aboreto";
    font-size: 4rem;
    line-height: 120%;
}

.button {
    position: absolute;
    top: 60%;
    margin-left: 70%;
    padding: 15px;
    width: 8%;
    background: #31A1B0;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}

.button:hover {
    background: rgb(28, 196, 211);
    transition: 1s;
    box-shadow: 10px 5px 5px silver;
}

.forms {
    width: 40%;
    margin: auto;
    padding: 1%;
    border: rgb(211, 211, 211) 2px solid;
    border-radius: 15px;
    background: white;
    opacity: 80%;
}

.all__forms {
    display: flex;
    padding: 1%;
}

.forms__title {
    display: flex;
    margin-bottom: 1%;
    justify-content: center;
    font-family: "Aboreto";
    font-size: 1.5rem;
}

.select input {
    background:  #dbd5cc;
    border-radius: 8px;
}

input[type="submit"] {
    padding: 20%;
    background:  #31A1B0;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}

input[type="submit"]:hover {
    background: rgb(28, 196, 211);
    transition: 1s;
    box-shadow: 10px 5px 5px silver;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #31A1B0 2px solid;
}

.product__subheading {
    padding-top: 2%;
    font-family: "Aboreto";
}

.product__item, .product__info {
    display: flex;
}

.product__item {
    flex-direction: row;
    padding: 1%;
    margin: 2%;
    width: 65%;
    outline: pink 2px solid;
    border-radius: 20px;
}

.product__item:hover {
    box-shadow: 5px 10px #888888;
}

.product__info {
    flex-direction: column;
}

.product__desc, .product__heading, .product__btn {
    width: 70%;
    border: #31A1B0 2px solid;
    line-height: 120%;
    padding: 1%;
    margin: 1%;
}

.img {
    width: 65%;
    border-radius: 20px;
    opacity: 0.7;
}

.img:hover {
    opacity: 1;
}

.product__heading {
    font-weight: 600;
    font-family: "Aboreto";
}

[class*="btn"] {
    text-decoration: underline;
    color:rgb(10, 68, 73);
}

.reviews {
    display: flex; 
    background: white; 
}

.reviews__desc {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.review__wrap-img {
    width: 50%;
    padding: 1% 1% 0 1%; 
    margin: 0 1% 0 4%;
    border: rgb(28, 196, 211) 1px solid;
}

.reviews__heading--main {
    padding: 5% 0;
}

.reviews__subitem, .reviews__customer {
    color: #888888;
    width: 65%;
    padding: 1%;
    border: rgb(28, 196, 211) 1px solid;
}

.reviews__subitem {
    line-height: 110%;
    font-style: italic;
}

.reviews__customer {
    padding: 1% 0;
}

.stationary__link {
    display: block; 
    position: fixed;
    right: 0; 
    bottom: 0;
    padding: 1%;
    margin: 3%;
    background: #31A1B0;
    border-radius: 30px 0 30px 30px;
    color: white;
}

.stationary__link:hover {
    background: #e2c542;
}

.footer__section {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-around;
    background: #62665c;
}

.footer__section-primary, .footer__section-secondary {
    display: flex; 
    flex-direction: column;
    padding: 1%;
    margin: 1%;
}

.footer__subtitle {
    padding: 1%;
    margin: 1% 1% 10% 2%;
}

.footer__content li {
    padding: 5% 5% 10% 2%; 
    margin: 1%;
}

.footer__content li a {
    text-decoration: none;
    color: white;
}

.footer__content li a:hover {
    color: rgb(28, 196, 211);
}

.section__items, .section__content {
    display: flex; 
}

.section__items {
    flex-direction: column;
}

.section__content {
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 2%;
}

.section__title--main {
    margin: auto; 
    padding: 7% 1% 1% 1%;
}

h2[class$="main"] {
    font: 2rem; 
    font-weight: 600;
}

.section__img {
    width: 30%; 
    border-radius: 20px;
    margin: 0 2%;
}

.section__desc {
    padding: 0 2%;
    line-height: 160%;
}



