* {
    margin: 0; /*setting margin to 0, to reset the default page styling*/
    padding: 0; /*setting padding to 0 to reset the default page styling*/
    outline: 0; /*setting outline to 0 to reset the default page styling*/
    border: 0; /*setting border to 0 to reset the default page styling*/
    box-sizing: border-box; /*setting box-sizing, so we dont need to manually count this*/
}

html {
    font-size: 16px; /*setting page font size to 16px*/
}

body {
    font-size: 1rem; /*making 16px font-size equivalent to 1 rem*/
    line-height: 1; /*setting line height to 1*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*setting the font family for the website*/
    background: linear-gradient(140deg, #c54ecf 0.00%, #FFFF16); /*setting background colour for the website*/
}

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

.header, .nav, .banner {
    display: flex; /*setting display flex*/
}

.header {
    position: fixed; /*fixing the nav bar so it does not move*/
    width: 100%; /*setting width to 100%*/
    padding: 0.5%; /*setting the padding for the header to 0.5%*/
    background: linear-gradient(140deg, #F5B551 0.00%, #bdbd14); /*setting the background color for the nav bar*/
    z-index: 10; /*setting zindex so our nav bar is visually "the top layer"*/
}

.nav {
    align-items: center; /*aligning nav content to the center*/
    width: 60%; /*setting the width to 60%*/
    justify-content: space-around; /*spacing the content around*/
}

a[class$="link"] {
    color: white; /*set colour to white for the nav links & footer links*/
}

a[class$="link"]:hover {
    color: rgb(28, 196, 211); /*added different colour to the nav links & footer links while hoovering*/
}

.banner {
    background-color: white; /*set banner background to white*/
}

.banner__img {
    margin: 5% 5% 1% 5%; /*set margin for banner image*/
}

.banner__title {
    margin: 15% 5%; /*set margin for banner title, so it looks better visually*/
    font-size: 4rem; /*set font size in rem for the title*/
    line-height: 120%; /*set line height for the banner title, so the text is not squished all together*/
}

.button {
    position: absolute; /*setting absolute position for the button, so I can locate it on the banner*/
    top: 60%; /*setting button location*/
    margin-left: 70%; /*setting button location*/
    padding: 15px; /*setting padding for the button*/
    width: 8%; /*setting button width*/
}

[class*="button"] {
    background: #31A1B0; /*for the button class setting the colour*/
    border-radius: 25px; /*setting border radius so the button is not square*/
    color: white; /*setting font color to white*/
    font-weight: 600; /*setting font weight*/
}

[class*="button"]:hover {
    background: rgb(28, 196, 211); /*setting button colour while hovering*/
}

.forms {
    width: 40%; /*setting the width for the forms section*/
    margin: auto; /*setting margin auto to position the forms in the center of the page*/
    padding: 2%; /**/
    border-radius: 15px; /*setting border radius so the form section is not a square*/
    background: rgb(235, 231, 230); /*setting background for the forms section*/
}

.all__forms, .forms__title {
    display: flex; /*setting display flex*/
}

.forms__title {
    margin-bottom: 3%; /*setting margin bottom for the title to space it from the other bottom section*/
    justify-content: center; /*setting the title in the middle*/
}

input[type="submit"] {
    padding: 20%; /*setting the padding for the submit button*/
}

.product, .product__item, .product__info {
    display: flex; /*setting display flex*/
}

.product {
    flex-direction: column; /*setting flex direction column*/
    align-items: center; /*setting to align items in the center*/
}

.product__subheading--main {
    padding-top: 2%; /*adding padding for the subheadings*/
}

.product__item {
    padding: 1%; /*adding padding for the main content section*/
    margin: 2%; /*adding margin for the main content section*/
    width: 65%; /*adding width for the main content section*/
    outline: pink 2px solid; /*adding outline for the main content section*/
    border-radius: 20px; /*adding border radius for the main content section, so the items are not square*/
}

.product__item:hover {
    box-shadow: 5px 10px #888888; /*adding hover box shadow for the main content section*/
}

.product__info {
    flex-direction: column; /*setting flex direction to column for the main items sections*/
}

.product__desc, .product__heading, .product__btn {
    width: 70%; /*adding width for the product description, heading and "read more" link*/
    line-height: 120%; /*adding line height*/
    padding: 1%; /*adding padding for the product description, heading and "read more" link*/
    margin: 1%; /*adding margin for the product description, heading and "read more" link*/
}

.img {
    width: 65%; /*adding width for the images*/
    border-radius: 20px; /*adding border radius so the images are not square*/
}

.product__heading {
    font-weight: 600; /*setting product heading to be bold*/
}

[class*="btn"] {
    text-decoration: underline; /*setting underline styling for the links*/
    color: rgb(10, 68, 73); /*setting colour for the links*/
}

.stationary__button {
    display: block; /*setting display block for the stationary button*/
    position: fixed; /*setting position fixed for the stationary button*/
    right: 0; /*setting position right 0 for the stationary button, so the button is displayed at the right side of the screen*/
    bottom: 0; /*setting position bottom 0 for the stationary button, so the button is displayed at the bottom of the screen*/
    padding: 1%; /*setting padding fixed for the stationary button*/
    margin: 3%; /*setting margin for the stationary button*/
}

.footer__section-primary, .footer__section-secondary, .footer__section {
    display: flex; /*setting display flex for the footer sections*/
}

.footer__section {
    justify-content: space-around; /*ensuring the footer content is space around*/
    background: #62665c; /*setting background colour for footer area*/
}

.footer__section-primary, .footer__section-secondary {
    flex-direction: column; /*setting column direction for the footer content*/
    padding: 1%; /*setting padding for the footer content*/
    margin: 1%; /*setting margin for the footer content*/
}

.footer__subtitle, .footer__content li {
    padding: 1%; /*setting padding for the footer subtitle and li's*/
    margin: 1% 1% 10% 2%; /*setting margin for the footer subtitle and li's*/
}

.section__items, .section__content {
    display: flex;  /*setting display flex for the section items in the about page*/
}

.section__items {
    flex-direction: column; /*setting column direction for the content on the about page*/
}

.section__content, .section__title--main {
    margin: auto; /*setting margin auto so the content and the title are in the middle of the page*/
}

.section__content {
    width: 70%; /*setting width for the content on the about page*/
    padding: 2%; /*setting padding for the content on the about page*/
}

.section__title--main {
    padding: 7% 1% 1% 1%; /*setting padding for the title on the about page*/
}

h2[class$="main"] {
    font: 2rem; /*setting font size for the h2 titles on the website*/
}

.section__img {
    width: 30%; /*setting width for the images on the about page*/
    border-radius: 20px; /*setting border radius for the images on the about page, so the images are not square*/
    margin: 0 2%; /*setting margin for the images*/
}

.section__desc {
    padding: 0 2%; /*setting padding for the section description on the about page*/
    line-height: 160%; /*setting line height for the content on the about page*/
}



