* {
    margin: 0; 
    padding: 0; 
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0.5%;
    background: #CBB26A;
}

.header__logo {
    width: 20%;
    outline: 2px solid lightblue;
    align-items: center;
}

.logo {
    border-radius: 8%;
}

.nav {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    outline: 2px solid lightblue;
}

.nav__item a {
    color: black;
}

.nav__item a:hover {
    color: #51a59d;
} 

.banner__title {
    position: absolute;
    top: 25%;
    margin-left: 15%;
    font-family: "Aboreto";
    font-size: 3rem;
    color:#1f5d57;
}


